#announce.announce.g-padding
    .sns
        p 各種SNSで最新情報をゲット！
        ul.sns__links 
            li.icon.i-tw <i class="fab fa-twitter"></i>
            li.icon.i-ig <i class="fab fa-instagram"></i> 
            li.icon.i-tk <i class="fab fa-tiktok"></i>

    .line 
        p LINE@に登録すれば、
        p 限定クーポンやイベントへの応募など特典が満載！
        ul.line__link 
            li.icon.i-line <i class="fab fa-line"></i>