#announce.announce.g-padding
    .sns
        p 各種SNSで最新情報をゲット！
        ul.sns__links 
            li twitter 
            li IG 
            li TikTok

    .line 
        p LINE@に登録すれば、
        p 限定クーポンやイベントへの応募など特典が満載！
        ul.line__link 
            li LINE 