#carecheck.ad.scrollin
    .ad__wrapper 
        .bnr__info
            span.category NEW
            p あなたの肌の状態がすぐにわかる！
            p スキンケアチェック
            p.bnr__info__ctr 診断スタート
        .bnr__close
            #bnrCloseBtn.bnr__close-btn