#concept.concept.g-padding.animation

    h3 CONCEPT 

    p.concept__message_ja 自分らしく生きていこう。
    p.concept__message_en.yugo-bold Just Be Myself

    .concept__cap_wrapper
        p.concept__cap
            | メンズコスメは気になるけれど、
            br
            | なんだか恥ずかしいし、使い方がわからない…。

        p.concept__cap
            | <span class="yugo-bold">VILLAINS HOMME (ヴィランズ オム)</span>は
            br
            | そんなメンズの「最初」に選んで欲しい
            br
            | メンズコスメブランドです。

        p.concept__cap
            | <span class='good_reaction yugo-bold'>「肌、きれいだね！」</span>
            br
            | その一言は性別関係なくうれしいもの。
            br
            | しっかりケアすれば必ず肌は応えてくれます。

        p.concept__cap
            | さぁ、ヴィランズのコスメで自分らしく生きていこう。

    .marquee
        .marquee-wrapper
            .marquee-item
                span CONCEPT
                span &nbsp;CONCEPT
                span &nbsp;CONCEPT
                span &nbsp;CONCEPT
