#feature.feature.g-padding.animation
    h3 FEATURE 

    ol.feature__list   
        li.feature__list-item 
            p 実は女性の肌より敏感な男性肌。
                br
                | 徹底研究したケアアイテムで肌質をアップ！
        li.feature__list-item 
            p メイクアイテムは自然な仕上がりでバレにくい！
        li.feature__list-item 
            p こだわったパッケージデザインで、
                br
                | 持っているだけで楽しい♪

    .appeal 
        .appeal__wrapper
            .appeal__patch-1 
                p 低刺激処方で安心
            .appeal__patch-2 
                p.patch-2__sub パッチテスト済み
        .appeal__attention
            p ※すべての方に肌トラブル等が起こらないということではありません。
                br
                | ご使用の際は一度目立たない箇所でお試しください。

    //- .marquee
    //-     .marquee-wrapper
    //-         .marquee-item
    //-             span FEATURE
    //-             span &nbsp;FEATURE
    //-             span &nbsp;FEATURE
    //-             span &nbsp;FEATURE