#feature.feature.g-padding.animation
    h3 FEATURE 

    ol.feature__list   
        li.feature__list-item 
            p 実は初生の肌より敏感な男性肌。
                br
                | 徹底研究したケアアイテムで肌質をアップ！
        li.feature__list-item 
            p メイクアイテムは自然な仕上がりでバレにくい！
        li.feature__list-item 
            p こだわったパッケージデザインで、
                br
                | 持っているだけで楽しい♪