footer
    .footer.footer__caption.g-padding
        p VILLAINS HOMME (ヴィランズ オム)の公式サイトです。
        p ページ内の写真、映像、コンテンツ等の無断転載・複製を禁じます。
    address copyright @seventhseven All rights reserved.

script(src="/src/js/index.js") 
