#fv
        .fv__wrapper.g-padding
            .award
                .award__name
                    p nanika
                    p award
                .award__rank 
                    span 第
                    span.award__rank__grade 1
                    span 位

            h2
                .fv__copy
                    p 自分の肌に、
                    p これからのスタンダード。

            .subcopy
                p Z世代に向けたメンズコスメブランド
                p ヴィランズ オム

            .campaign
                .campaign__wrapper
                    .campaign__wrapper-relative 
                        .campaign__circle
                            p 初回
                            p 限定
                        .campaign__inner 
                            p メンズコスメ お試しキャンペーン実施中！