#items.items.g-padding.animation
    h3 ITEMS
    .items__wrapper
        .items__genre
            span SKINCARE 
        .items__img
            img(src="/src/img/product_v01.png", alt="V01 スタンダード・ローション")
        .items__name V01 スタンダードローション
        .items__caption
            span 男性の肌は、女性の約２倍の量の皮脂量を1日に分泌されるとしています。たっぷりお使いいただくことで肌を整え、皮脂の分泌を安定させてきれいな状態に整えます。
        .items__detail-link 
            span VIEW DETAIL 

    .items__wrapper
        .items__genre
            span MAKE UP  
        .items__img
            img(src="/src/img/product_v11.png", alt="V11 BBクリーム")
        .items__name V11 BBクリーム
        .items__caption
            span 気になるニキビやヒゲ剃り後の気になる部分をこれ１本でカバー。男性の肌質に合わせた成分で崩れにくいのがポイントです。
        .items__detail-link 
            span VIEW DETAIL 
    
    h3 CATEGORY 
    .category__wrapper 
        ul 
            li
                img(src="", alt="")
                p スキンケア
            li
                img(src="", alt="")
                p メイクアップ
            li
                img(src="", alt="")
                p スペシャルケア