.starter.starter_wrapper.g-padding
    
    .starter__set-name 
        p 初回限定 スタートセット
    
    .starter__container 

        .starter__container-img-wrapper 
            img(src="/src/img/set-image.png", alt="キャンペーン限定のセット" width="784" height="608")

        .starter__container__block 
            .set-catch 
                p メンズコスメ お試しキャンペーン実施中！

            .set-items-starter-warapper
                .set-items
                    p ■ セット内容
                    p.set-items__genre 【スキンケア】
                    ul(style="display:inline-block")
                        li V01 スタンダードローション（化粧水）
                        li V02 スタンダードクリーム（乳液）
                    p.set-items__genre 【メイクアップ】
                    ul(style="display:inline-block") 
                        li V11 BBクリーム
                    p.set-items__genre 【スペシャルケア】
                    ul(style="display:inline-block") 
                        li V21 スタンダードフェイスマスク
                    p.set-items__genre 【購入特典】
                    ul(style="display:inline-block") 
                        li S01 オリジナルポーチ

                .starter__how-to 
                    .how-to__worries 
                        p 使い方がわからない…
                        p バレたら恥ずかしいかも…
                    .how-to__movie-wrapper 
                        .movie 
                            img(src="/src/img/youtube.png", alt="公式YouTubeチャンネルのリンク")        
                        .movie-caption 
                            p 初めてでも安心！
                            p 使い方動画を公式YouTubeで公開中♪

            .set-price-wrapper 
                p 初めての方限定
                span 通常
                span.set-price 6,800
                span.set-price-unit 円(税別)
                span が…

                .price-big-wrapper
                    span.set-price-big 1,980
                    span.set-price-unit-big 円
                    span.set-price-unit-md (税別)

                .set-benefits 
                    div 
                        p 初回限定
                    div 
                        p 送料無料
                    div 
                        p お一人様
                            br
                            | 1点限り

    .starter__container__ctr 
        span.ctr_str 今すぐ申し込む 
        span.tri
        

    //- .starter__how-to 
    //-     .how-to__worries 
    //-         p 使い方がわからない…
    //-         p バレたら恥ずかしいかも…
    //-     .how-to__movie-wrapper 
    //-         .movie 
    //-             img(src="/src/img/youtube.png", alt="公式YouTubeチャンネルのリンク")        
    //-         .movie-caption 
    //-             p 初めてでも安心！
    //-             p 使い方動画を公式YouTubeで公開中♪
