extends /_include/_layout.pug
append variables 
    -
        var pageTitle = 'VILLAINS HOMME';
        var pageDescription = '架空のメンズコスメブランド【VILLAINS HOMME(ヴィランズ オム)】の紹介ページです。Z世代に向けた、「初めて」選んで欲しいメンズコスメブランドです。';

block content
    #fv 
        .award
            .award__name
                p nanika
                p award
            .award__rank 
                span 第
                span.award__rank__grade 1
                span 位

        h2
            p 自分の肌に、
            p これからのスタンダード。

        .subcaption 
            p Z世代に向けたメンズコスメブランド
            p ヴィランズ オム

        .campaign 
            .campaign__circle
                p 初回
                p 限定
            .campaign__inner 
            p メンズコスメ お試しキャンペーン実施中！