extends /_include/_layout.pug
append variables 
    -
        var pageTitle = 'VILLAINS HOMME';
        var pageDescription = '架空のメンズコスメブランド【VILLAINS HOMME(ヴィランズ オム)】の紹介ページです。Z世代に向けた、「初めて」選んで欲しいメンズコスメブランドです。';