@use './variables' as v;

.announce {
    margin-top: 60px;
    padding-top: 100px;
    text-align: center;
    font-size: 1.2rem;
    background-color: v.$white;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);

    .icon {
        font-size: 3.5rem;

        i {
            cursor: pointer;
        }
    }

    .i-tw {
        color: v.$c-tw;
    }
    .i-ig {
        background: v.$c-ig;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .i-tk {
        color: v.$c-tk;
    }
    .i-line {
        color: v.$c-line;
    }

    p {
        font-weight: bold;
    }

    .sns {
        &__links {
            display: flex;
            justify-content: center;
            margin: 24px 0 40px;

            li {
                margin: 0 20px;
            }
        }
    }

    .line {
        line-height: 1.4;
    }
}