@use './variables' as v;

.concept {
    text-align: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 160px 16px;
    background-color: v.$white;
    
    h3 {
        margin-top: 0;
    }

    &__message_ja {
        font-size: 2.75rem;
        font-weight: bold;
        margin-bottom: 16px;
    }

    &__message_en {
        font-size: 2.6rem;
        margin-bottom: 40px;
    }

    &__cap_wrapper {

        .concept__cap {
            margin-bottom: 32px;
            line-height: 1.7;

            .good_reaction {
                font-size: 2.4rem;
                display: inline-block;
                padding-bottom: 12px;
                color: v.$pink;
            }
        }
    }

}