@use './variables' as v;

.footer {
    font-size: 1rem;
    margin: 40px auto 0;
    text-align: center;
    color: v.$grey;
    line-height: 1.3;
}

address {
    margin: 40px auto 0;
    font-size: 1rem;
    text-align: center;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$grey;
    color: v.$l-yellow;
}