@use './variables' as v;

#fv {
    position: relative;
    background: url(/src/img/first_view.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 3.5rem;

    #fvLogo {
        .top-logo {
            position: absolute;
            top: 20px;
            margin: auto;
            left: 0;
            right: 0;
            width: 380px;
        }
    }

    .fv__wrapper {    
        color: v.$l-yellow;
        position: absolute;
        bottom: 14%;

        .award {
            background-color: v.$yellow;
            color: v.$red;
            display: inline-block;
            padding: 1.5rem 2rem;
            border-radius: 50%;
            text-align: center;
            margin-bottom: 1.5rem;

            &__name {
                color: v.$l-yellow;
                font-size: 1.2rem;
            }

            &__rank {
                font-size: 1.2rem;

                &__grade {
                    font-size: 2.5rem;
                    font-weight: bold;
                }
            }
        } // .award

        .fv__copy {
            margin-bottom: 2.4rem;

            &_img {
                width: 100%;
            }

        }

        .subcopy {
            margin-bottom: 3.4rem;
            line-height: 1.5;
        }

        .campaign {
            position: relative;

            &__wrapper {
                position: absolute;
                right: 0;
                // -webkit-transform: translate(-50%, -50%);
                // transform: translate(-50%, -50%);
                width: 100%;

                &-relative {
                    position: relative;

                    .campaign__circle {
                        background-color: v.$yellow;
                        display: inline-block;
                        padding: 1.2rem;
                        border-radius: 50%;
                        font-size: 1.2rem;
                        color: v.$grey;
                        z-index: 1;
                        top: -22px;
                        position: absolute;
                    }
        
                    .campaign__inner {
                        position: absolute;
                        left: 12px;
                        right: 0;
                        background-color: v.$grey;
                        margin: auto;
                        padding: 8px 8px;
                        text-align: center;
                        word-break: keep-all;
        
                        p {
                            border: 1px solid v.$l-yellow;
                            padding: 12px 20px;
                        }
                    }
                }
            }
        }       
    } // .fv__wrapper
}