@use './variables' as v;

.g-links {
    padding-top: 24px;
    background-color: v.$white;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);

    .links {
        display: flex;
        font-size: 1.2rem;
        justify-content: center;
        font-weight: bold;

        li {
            margin: 8px 10px;
        }
    }
}