@use './variables' as v;

.items {
    &__wrapper {
        margin-bottom: 24px;
    }

    &__genre {
        font-size: 1.4rem;
        font-weight: bold;
        display: inline-block;
        position: relative;

        span {
            padding-right: 20px;
        }

        &:after {
            content: '';
            border: 1px solid v.$l-grey;
            display: inline-block;
            width: 100%;
            font-weight: 100;
            position: absolute;
            top: 50%;
        }
    }

    &__img {}

    &__name {
        font-size: 1.4rem;
        font-weight: bold;
        padding-bottom: 16px;
    }

    &__caption {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    &__detail-link {
        background-color: v.$grey;
        color: v.$l-grey;
        text-align: center;
        padding: 16px 24px;
        border-radius: 2px;
        font-size: 1.4rem;
        margin-top: 16px;
        cursor: pointer;
        transition: .2s;

        &:hover {
            color: v.$grey;
            background-color: v.$l-grey;
            transition: .2s;
        }
    }

    .category__wrapper {
        margin-bottom: 160px;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            overflow-x: scroll;
            -ms-overflow-style: none;    /* IE, Edge 対応 */
            scrollbar-width: none;       /* Firefox 対応 */

            &::-webkit-scrollbar {
                display: none;      /* Chrome, Safari 対応 */
            }

            li {
                border: 1px solid v.$l-grey;
                border-radius: 2px;
                height: 192px;
                min-width: 150px;
                max-width: 150px;
                margin: 0 16px;
                cursor: pointer;
                background-color: white;
                transition: .2s;

                p {
                    text-align: center;
                    font-size: 1.2rem;
                }

                &:hover {
                    opacity: .7;
                    transition: .2s;
                }
            }
        }
    }
} // items