// color
$yellow: #DED37F;
$l-yellow: #FAF7EA;
$red: #FF5800;
$blue: #D3ECFF;
$grey: #707070;
$l-grey: #bcbcbc;
$white: #ffffff;
$pink: #E6007E;


// sns
$c-tw: #1DA1F2;
$c-ig: -webkit-linear-gradient( -80deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80 );
$c-tk: black;
$c-line: #3CC655;

// font-family
$family: "Noto Sans JP","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;